<div class="normal-container">
  <app-welcome-banner [person]="personData"></app-welcome-banner>
</div>
<h2>Friend of the Month</h2>
<app-person-card
   [person]="friendsData[0]"
   [selectFn]="goToFriendDetailPage"
></app-person-card>
  <h2>Favorites</h2>
  <h3>You have {{ favoritesIds.length }} favorites</h3>
  <app-people-list
     [people]="favorites"
     [clickPersonFn]="removeFavorite"
     ></app-people-list>
  <h2>My Friends</h2>
  <app-people-list
     [people]="nonFavorites"
     [clickPersonFn]="addFavorite" 
  ></app-people-list>
