<h1>Friend Tracker</h1>
<div class="normal-container">
  <app-welcome-banner [person]="personData"></app-welcome-banner>
</div>

<button (click)="sayHello()">Click me please!</button>
<div class="content-container">
  <div class="normal-container">
    <app-profile-info
      [person]="personData"
    ></app-profile-info>
  </div>
  <h2>My Friends</h2>
  <h3>You have {{ favoritesIds.length }} favorites</h3>
  <div class="people-list">
    <div class="people-list-item" *ngFor="let p of friendsData">
      <app-person-card
        [person]="p"
        [isFavorite]="favoritesIds.includes(p.id)"
        (select)="toggleFavorite($event)"
        ></app-person-card>
    </div>
    <!-- <div class="people-list-item">
      <app-person-card
        [person]="friendsData[1]"
        (select)="toggleFavorite($event)"
        [isFavorite]="favoritesIds.includes(friendsData[1].id)"
        ></app-person-card>
    </div>
    <div class="people-list-item">
      <app-person-card
        [person]="friendsData[2]"
        (select)="toggleFavorite($event)"
        [isFavorite]="favoritesIds.includes(friendsData[2].id)"
        ></app-person-card> -->
    <!-- </div> -->
  </div>
</div>
