<h1>Friend Tracker</h1>
<div class="normal-container">
  <app-welcome-banner [person]="personData"></app-welcome-banner>
</div>

<button (click)="sayHello()">Click me please!</button>
<div class="content-container">
  <div class="normal-container">
    <app-profile-info
      [person]="personData"
    ></app-profile-info>
  </div>
  <h2>My Friends</h2>
  <div class="people-list">
    <div class="people-list-item">
      <app-person-card
        [person]="friendsData[0]"
        (click)="onPersonClicked(friendsData[0])"
        ></app-person-card>
    </div>
    <div class="people-list-item">
      <app-person-card
        [person]="friendsData[1]"
        (click)="onPersonClicked(friendsData[1])"></app-person-card>
    </div>
    <div class="people-list-item">
      <app-person-card
        [person]="friendsData[2]"
        (click)="onPersonClicked(friendsData[2])"></app-person-card>
    </div>
  </div>
</div>
